services:
  api:
    image: transcriptor:latest
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']  # 指定 GPU 设备号
              capabilities: [gpu]
    environment:
      - PYTHONUNBUFFERED=1
    volumes:
      - ./cache:/app/cache
      - ./checkpoints:/app/checkpoints
      - ./examples:/app/examples
      - ./register_db:/app/register_db
      - ./config.py:/app/config.py
    ports:
      - "6002:6002"
    restart: unless-stopped
